.badge {
    padding: rem-calc(12px 36px);
    border-radius: rem-calc(5px);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    line-height: 1;
}