.input {
  padding: rem-calc(8px 8px);
  border-radius: rem-calc(8px);
  text-decoration: none;
  display: flex;
  border: rem-calc(2px) solid $black;
  justify-content: center;
  align-items: center;
  width: max-content;
  line-height: 1;
  outline: none;
  font-family: $primary-font;

  &:focus {
    border-color:$primary-color;
    background: $light-gray;
  }

}

