.sidewindow {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $gray;
    border-radius: rem-calc(8px);
    max-width: rem-calc(400px);

    &-top-buttons {
        position: relative;
        top: 0;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem-calc(0 22px);
        gap: rem-calc(20px);
        box-sizing: border-box;
    }
    &-top-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem-calc(140px);
        height: rem-calc(46px);
        border: rem-calc(3px) solid $secondary-color;
        border-radius: rem-calc(16px);
        background-color: transparent;

        &--active {
            background-color: $secondary-color;
        }

        &:hover {
            background-color: $secondary-color;
            cursor: pointer;
        }
    }

    &-icon-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: rem-calc(46px);
        width: rem-calc(46px);
        border-radius: rem-calc(16px);
        background-color: $secondary-color;
        color: $white;
        font-size: rem-calc(32px);
        transition: 200ms all ease-in-out;
        &:hover {
            cursor: pointer;
            background-color: #414493;
        }
    }

    &-moves {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__top {
            display: grid;
            grid-template-columns: 1fr 8fr 8fr;
            padding: rem-calc(0 16px);
            text-align: center;
        }
        &__buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: rem-calc(48px);
            padding: rem-calc(0 16px);
            margin-bottom: rem-calc(8px);
        }
    }
    &-move {
        display: grid;
        grid-template-columns: 1fr 8fr 8fr;
        padding: rem-calc(0 16px);

        &-code {
            text-align: center;
        }
        &--dark {
            background-color: $black;
        }
    }

    &-chat {

    }
}