$grid-breakpoints: (
    xsmall: rem-calc(0),
    small: rem-calc(567),
    medium: rem-calc(768),
    large: rem-calc(992),
    xlarge: rem-calc(1280),
);

// border-radius
$border-radius-1: rem-calc(8);
$border-radius-2: rem-calc(16);
$border-radius-3: rem-calc(32);

// spacing
$spacing-1: rem-calc(8);
$spacing-2: rem-calc(16);
$spacing-3: rem-calc(24);
$spacing-4: rem-calc(32);
$spacing-5: rem-calc(40);
$spacing-6: rem-calc(60);   

// flexible row spacing
$spacing-row: rem-calc(80);
$spacing-row-2: rem-calc(96);
$spacing-row-3: rem-calc(160);
$spacing-row-4: rem-calc(220);

// fonts
$primary-font: 'Caladea';
$primary-font--bold: 'Caladea Bold', 'Caladea-Bold', $primary-font;
$secondary-font: 'Adamina';

// colors
$primary-color: #414493;
$secondary-color: #7B7DB0;
$black: #2E2E31;
$white: #FCFCFA;
$light-gray: #F3F3F3;
$gray: #4A4A51;
$green: #7FA650;
$red: #CA3431;
$button-gray: #D9D9D9;
$hover: #0000001e;